@use './variables.scss' as *;

.Login-main {
    @include MainContainer();
    background-color: white;
    font-size: 1rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    .Login-form {
        flex-direction: column;
        display: inline-flex;
        justify-self: center;
    }
    .Form-label {
        width: 100%;
    }
    input {
        height: 1rem;
        width: 100%;
        border-radius: 5px;
        margin-bottom: 0.5rem;
    }
    button {
        align-self: center;
        justify-self: center;
        font-size: 1.2rem;
        padding: 0 0.4rem;
        margin: 0.4rem 0;
    }
}
