.Login {
    display: none;

    &-active {
        display: flex;
        position: absolute;
        border: 1px black solid;
        border-top: 0px;
        background-color: white;
        padding: 1rem;
        right: 0.5rem;
        top: 2.9rem;
        width: 10rem;
        box-shadow: 10px 6px 5px 1px rgb(0 0 0 / 0.2);
        border-radius: 0px 0px 5px 5px;
    }
}

.Login-main {
    font-size: 1rem;
    display: inline-flex;
    width: 100%;
    flex-direction: column;

    .Login-form {
        flex-direction: column;
        display: inline-flex;
        justify-self: center;
    }
    .Form-label {
        width: 100%;
    }
    input {
        height: 1rem;
        width: 100%;
        border-radius: 5px;
        margin-bottom: 0.5rem;
    }
    button {
        align-self: center;
        justify-self: center;
        font-size: 1.2rem;
        padding: 0 0.4rem;
        margin: 0.4rem 0;
    }
}

.ProfileMenu {
    font-size: 1rem;

    &-logout {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}
