@use './variables.scss' as *;
.Register-main {
    @include MainContainer();
}

.Message {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 8rem;
    min-height: 3rem;
    align-content: center;
    border-radius: 10px;
    border: solid black 1px;
    padding: 1rem;
    background-color: white;

    &-text {
        width: fit-content;
    }

    &--success {
        color: green;
    }

    &--error {
        color: red;
    }
}
