@use './variables.scss' as *;
.Register-main {
    @include MainContainer();
}

.Message {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 20%;
    left: 50%;
    max-width: 8rem;
    min-height: 3rem;
    align-content: center;
    border-radius: 10px;
    border: solid black 1px;
    background-color: white;
    box-shadow: 10px rgba(0, 0, 0, 0.15);

    &-text {
        padding: 0.5rem;
        align-self: center;
        text-align: center;
        width: fit-content;
    }

    &--success {
        color: green;
    }

    &--error {
        color: red;
    }
}
