$media-xl: "only screen and (min-width: 1200px)";
$media-desktop: "only screen and (min-width: 992px)";
$media-tablet: "only screen and (min-width: 768px)";
$media-mobile: "only screen and (min-width: 576px)";
$media-mobile-sm: "only screen and (min-width : 480px)";