/* Error: Undefined mixin.
 *    ,
 * 52 | /                 @include media(#{$bp}) {
 * 53 | |                     $width: math.percentage(calc(12 / $i * 12));
 * 54 | |                     @debug $width;
 * 55 | |                     width: $width;
 * 56 | \                 }
 *    '
 *   src\scss\variables.scss 52:17  col-list()
 *   src\scss\variables.scss 62:1   @use
 *   src\scss\Product.scss 1:1      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 52 \2502  \250c                  @include media(#{$bp}) {\a 53 \2502  \2502                      $width: math.percentage(calc(12 / $i * 12));\a 54 \2502  \2502                      @debug $width;\a 55 \2502  \2502                      width: $width;\a 56 \2502  \2514                  }\a    \2575 \a   src\\scss\\variables.scss 52:17  col-list()\a   src\\scss\\variables.scss 62:1   @use\a   src\\scss\\Product.scss 1:1      root stylesheet";
}
