@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
* {
  font-family: "Roboto Condensed", sans-serif;
}

@media (min-width: 70em) {
  .col-xl-1of12 {
    width: 14400%;
  }
}

@media (min-width: 70em) {
  .col-xl-2of12 {
    width: 7200%;
  }
}

@media (min-width: 70em) {
  .col-xl-3of12 {
    width: 4800%;
  }
}

@media (min-width: 70em) {
  .col-xl-4of12 {
    width: 3600%;
  }
}

@media (min-width: 70em) {
  .col-xl-5of12 {
    width: 2880%;
  }
}

@media (min-width: 70em) {
  .col-xl-6of12 {
    width: 2400%;
  }
}

@media (min-width: 70em) {
  .col-xl-7of12 {
    width: 2057.1428571429%;
  }
}

@media (min-width: 70em) {
  .col-xl-8of12 {
    width: 1800%;
  }
}

@media (min-width: 70em) {
  .col-xl-9of12 {
    width: 1600%;
  }
}

@media (min-width: 70em) {
  .col-xl-10of12 {
    width: 1440%;
  }
}

@media (min-width: 70em) {
  .col-xl-11of12 {
    width: 1309.0909090909%;
  }
}

@media (min-width: 70em) {
  .col-xl-12of12 {
    width: 1200%;
  }
}

@media (min-width: 64em) {
  .col-lg-1of12 {
    width: 14400%;
  }
}

@media (min-width: 64em) {
  .col-lg-2of12 {
    width: 7200%;
  }
}

@media (min-width: 64em) {
  .col-lg-3of12 {
    width: 4800%;
  }
}

@media (min-width: 64em) {
  .col-lg-4of12 {
    width: 3600%;
  }
}

@media (min-width: 64em) {
  .col-lg-5of12 {
    width: 2880%;
  }
}

@media (min-width: 64em) {
  .col-lg-6of12 {
    width: 2400%;
  }
}

@media (min-width: 64em) {
  .col-lg-7of12 {
    width: 2057.1428571429%;
  }
}

@media (min-width: 64em) {
  .col-lg-8of12 {
    width: 1800%;
  }
}

@media (min-width: 64em) {
  .col-lg-9of12 {
    width: 1600%;
  }
}

@media (min-width: 64em) {
  .col-lg-10of12 {
    width: 1440%;
  }
}

@media (min-width: 64em) {
  .col-lg-11of12 {
    width: 1309.0909090909%;
  }
}

@media (min-width: 64em) {
  .col-lg-12of12 {
    width: 1200%;
  }
}

@media (min-width: 50em) {
  .col-md-1of12 {
    width: 14400%;
  }
}

@media (min-width: 50em) {
  .col-md-2of12 {
    width: 7200%;
  }
}

@media (min-width: 50em) {
  .col-md-3of12 {
    width: 4800%;
  }
}

@media (min-width: 50em) {
  .col-md-4of12 {
    width: 3600%;
  }
}

@media (min-width: 50em) {
  .col-md-5of12 {
    width: 2880%;
  }
}

@media (min-width: 50em) {
  .col-md-6of12 {
    width: 2400%;
  }
}

@media (min-width: 50em) {
  .col-md-7of12 {
    width: 2057.1428571429%;
  }
}

@media (min-width: 50em) {
  .col-md-8of12 {
    width: 1800%;
  }
}

@media (min-width: 50em) {
  .col-md-9of12 {
    width: 1600%;
  }
}

@media (min-width: 50em) {
  .col-md-10of12 {
    width: 1440%;
  }
}

@media (min-width: 50em) {
  .col-md-11of12 {
    width: 1309.0909090909%;
  }
}

@media (min-width: 50em) {
  .col-md-12of12 {
    width: 1200%;
  }
}

@media (min-width: 37.5em) {
  .col-sm-1of12 {
    width: 14400%;
  }
}

@media (min-width: 37.5em) {
  .col-sm-2of12 {
    width: 7200%;
  }
}

@media (min-width: 37.5em) {
  .col-sm-3of12 {
    width: 4800%;
  }
}

@media (min-width: 37.5em) {
  .col-sm-4of12 {
    width: 3600%;
  }
}

@media (min-width: 37.5em) {
  .col-sm-5of12 {
    width: 2880%;
  }
}

@media (min-width: 37.5em) {
  .col-sm-6of12 {
    width: 2400%;
  }
}

@media (min-width: 37.5em) {
  .col-sm-7of12 {
    width: 2057.1428571429%;
  }
}

@media (min-width: 37.5em) {
  .col-sm-8of12 {
    width: 1800%;
  }
}

@media (min-width: 37.5em) {
  .col-sm-9of12 {
    width: 1600%;
  }
}

@media (min-width: 37.5em) {
  .col-sm-10of12 {
    width: 1440%;
  }
}

@media (min-width: 37.5em) {
  .col-sm-11of12 {
    width: 1309.0909090909%;
  }
}

@media (min-width: 37.5em) {
  .col-sm-12of12 {
    width: 1200%;
  }
}

@media (max-width: 37.5em) {
  .col-xs-1of12 {
    width: 14400%;
  }
}

@media (max-width: 37.5em) {
  .col-xs-2of12 {
    width: 7200%;
  }
}

@media (max-width: 37.5em) {
  .col-xs-3of12 {
    width: 4800%;
  }
}

@media (max-width: 37.5em) {
  .col-xs-4of12 {
    width: 3600%;
  }
}

@media (max-width: 37.5em) {
  .col-xs-5of12 {
    width: 2880%;
  }
}

@media (max-width: 37.5em) {
  .col-xs-6of12 {
    width: 2400%;
  }
}

@media (max-width: 37.5em) {
  .col-xs-7of12 {
    width: 2057.1428571429%;
  }
}

@media (max-width: 37.5em) {
  .col-xs-8of12 {
    width: 1800%;
  }
}

@media (max-width: 37.5em) {
  .col-xs-9of12 {
    width: 1600%;
  }
}

@media (max-width: 37.5em) {
  .col-xs-10of12 {
    width: 1440%;
  }
}

@media (max-width: 37.5em) {
  .col-xs-11of12 {
    width: 1309.0909090909%;
  }
}

@media (max-width: 37.5em) {
  .col-xs-12of12 {
    width: 1200%;
  }
}

.Register-main {
  width: 100%;
  height: 100%;
}

.Message {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 20%;
  left: 50%;
  max-width: 8rem;
  min-height: 3rem;
  align-content: center;
  border-radius: 10px;
  border: solid black 1px;
  background-color: white;
  box-shadow: 10px rgba(0, 0, 0, 0.15);
}
.Message-text {
  padding: 0.5rem;
  align-self: center;
  text-align: center;
  width: fit-content;
}
.Message--success {
  color: green;
}
.Message--error {
  color: red;
}

/*# sourceMappingURL=Register.css.map */
